<div class="container">
  <h1 class="black-text">Для тех</h1>

  <div class="image-container">
    <img src="assets/images/cover.jpg" alt="Cover" class="cover-image" />
    <div class="overlay-text">Кто остается делать</div>
  </div>

  <div class="goal">
    <h2>(цель сообщества)</h2>
    <p>Создать среду,</p>
    <p>дающую поддержку и новые возможности</p>
  </div>

  <div class="new-block">
    <div class="text-content">
      <p>
        Мы верим, что люди из разных сфер, обмениваясь опытом и знаниями,
        получают возможность увидеть максимально объемную картину. А лучшие идеи
        рождаются в диалоге.
      </p>
      <p>
        Меняться и менять, создавать, развивать, переходить на новый уровень, —
        сообщество объединяет тех, кому это важно.
      </p>
    </div>
    <img src="assets/images/cover.jpg" alt="Cover" class="new-block-image" />
  </div>

  <!-- Новый бледно-серый блок -->
  <div class="gray-block">
    <h2 class="gray-block-title">(что здесь происходит)</h2>
    <p class="gray-block-text">
      Сообщество members — это дополнительные возможности для его участников,
      лояльность и поддержка Клуба. Для тех, кто готов делиться опытом и
      объединяться с другими. Мы собираем вместе людей с похожими ценностями и
      позицией. Нам важно поддерживать атмосферу открытости и внимания друг к
      другу. Поэтому вступить в сообщество возможно только по приглашению Клуба
      и рекомендации members.
    </p>
  </div>

  <!-- Второй блок с анимацией -->
  <div class="animated-block">
    <img src="assets/images/cover.jpg" alt="Cover" class="animated-image" />
    <div class="moving-text top-text">
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое новое новое новое новое новое новое новое новое
      новое новое новое новое
    </div>
    <div class="moving-text bottom-text">
      качество качество качество качество качество качество качество качество
      качество качество качество качество качество качество качество качество
      качество качество качество качество качество качество качество качество
      качество качество качество качество качество качество качество качество
      качество качество качество качество качество качество качество качество
      качество качество качество качество качество качество качество качество
      качество качество качество качество качество качество качество качество
      качество качество качество качество
    </div>
  </div>

  <div class="values-block">
    <h2 class="values-title">(ценности)</h2>
    <div class="values-columns">
      <div class="value-column">
        <h3>объединять</h3>
        <p>
          Закрытые мероприятия для members, спецпроекты членов сообщества,
          встречи и коллаборации, круги по интересам и клубы внутри Клуба.
        </p>
      </div>
      <div class="value-column">
        <h3>делиться</h3>
        <p>
          Обмен опытом и информацией внутри сообщества, приглашенные гости,
          public talks и мастер-классы, лектории и дискуссионные клубы.
        </p>
      </div>
      <div class="value-column">
        <h3>создавать</h3>
        <p>
          Создание собственных проектов и сообществ, поддержка Клуба, реализация
          идей, новый опыт и эмоции, возможности и окружение.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- События -->
<div class="media-container">
  <p>(События)</p>
  <div class="square-block">
    <app-square-redirect
      [pageName]="'ВСЕ СОБЫТИЯ'"
      [route]="'/events'"
    ></app-square-redirect>
  </div>
</div>

<div class="bottom-spacer"></div>

<div class="event-container">
  <div class="event">
    <div class="line"></div>
    <div class="event-details">
      <div>
        <p>Окт</p>
        <p>16</p>
      </div>
      <div>
        <p>19:30 - 21:00</p>
        <p>Лекция Сати Спиваковой</p>
      </div>
    </div>
  </div>
</div>

<div class="bottom-spacer"></div>
<!-- Media Container -->
<div class="media-container">
  <p>(Медиа)</p>
  <div class="square-block">
    <app-square-redirect
      [pageName]="'ВСЕ МЕДИА'"
      [route]="'/media'"
    ></app-square-redirect>
  </div>
</div>
<div class="bottom-spacer"></div>
<!-- Places Component -->
<div class="places-container">
  <img src="assets/images/media1.jpg" alt="Place 1" />
  <img src="assets/images/media3.jpg" alt="Place 2" />
  <img src="assets/images/media2.jpg" alt="Place 3" />
</div>

<p class="footer-text">
  © 2011-2024 THE ORATOR CLUB | ООО «КЛУБ ОРАТОРОВ», ИНН 7725843515 / KLUB
  ORATOROV, OOO TIN 7725843515
</p>
