.container {
    text-align: left;
    margin-top: 150px;
}

.black-text {
    color: black;
    font-size: clamp(2rem, 5vw, 4rem);
    margin-left: 10%; 
}

.image-container {
    position: relative;

    .cover-image {
        width: 100%;
        height: auto;
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 10%;
        color: white;
        font-size: clamp(2rem, 5vw, 4rem);
    }
}
 
.goal {
    width: 90%;
    margin: 30px auto;
    position: relative;
    text-align: center;
    
    h2 {
        font-size: clamp(2rem, 5vw, 4rem);
        margin: 20px 0;
    }

    p {
        font-size: clamp(1.5rem, 3vw, 2rem);
        margin: 10px 0;
    }
}

.new-block {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 20px auto;

    .text-content {
        margin-bottom: 20px;
    }

    .new-block-image {
        width: 100%;
        height: auto;
    }

    @media (min-width: 769px) {
        flex-direction: row;
        justify-content: space-between;

        .text-content {
            width: 50%;
            margin-right: 30px;
        }

        .new-block-image {
            width: 50%;
            object-fit: cover; 
            transform: translateZ(0);
            will-change: transform;
        }
    }
}

.gray-block {
    background-color: #84818153;
    padding: 20px; 
    position: relative;

    .gray-block-title {
        margin: 20px auto;
        padding: 0;
        font-size: clamp(2rem, 5vw, 4rem);
        width: 80%;
        text-align: center;
    }

    .gray-block-text {
        font-size: clamp(1rem, 2vw, 1.5rem);
        margin: 20px auto;
        width: 80%;
    }
}

.animated-block {
    position: relative;
    overflow: hidden;

    .animated-image {
        width: 100%;
        height: auto;
    }

    .moving-text {
        position: absolute;
        white-space: nowrap;
        font-size: clamp(2rem, 5vw, 4rem);
        color: #f0f0f0;

        &.top-text {
            top: 0;
            left: 0;
            animation: moveRight 60s linear infinite;
        }

        &.bottom-text {
            bottom: 0;
            right: 0;
            animation: moveLeft 60s linear infinite;
        }
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(-25%);
    }
}

.values-block {
    background-color: #84818153;
    padding: 20px 0;
    margin-top: -10px;
    padding-left: 15%;
    padding-right: 15%;

    .values-title {
        text-align: center;
        font-size: clamp(2rem, 5vw, 4rem);
        margin-bottom: 20px;
    }

    .values-columns {
        display: flex;
        flex-direction: column; // Изменено на column для мобильной версии
        padding: 0;

        .value-column {
            width: 100%; // Ширина каждой колонки
            text-align: left;

            h3 {
                margin-bottom: 10px;
                font-size: clamp(1.5rem, 3vw, 2rem);
            }

            p {
                margin: 0;
                font-size: clamp(1rem, 2vw, 1.5rem);
            }
        }
    }
}

.media-container {
    width: 100%;
    margin-top: 50px;
    position: relative;
    text-align: center;
  
    p {
      margin-top: 0; /* Убираем отступы у заголовка */
      font-size: clamp(3rem, 6vw, 5rem); /* Увеличенный размер шрифта */
      text-align: center; /* Центрируем текст по горизонтали */
    }
  
    .square-block {
      margin-top: 0px; /* Значительный отступ между заголовком и квадратом */
      width: 100%; /* Задаем ширину квадрату */
      display: flex;
      justify-content: center; /* Центрируем квадрат */
    }
    @media (max-width: 768px) {
        .media-container {
            flex-direction: column; /* Меняем направление на вертикальное для мобильных устройств */
            align-items: center; /* Центрируем элементы по горизонтали */
            .square-block {
                margin-top: 20px; /* Отступ над квадратом */
            }
        }
    }
  }

.places-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    width: 90%; 
    margin: auto; 

    img {
        width: 33%; 
        height: auto; 
        margin-bottom: 20px; 
    }

    @media (max-width: 1000px) {
        img {
            width: 100%; 
            margin: 5px auto; 
        }
    }
}

.bottom-spacer {
    height: 50px;
}

.event-title {
    text-align: center;
    margin: 40px 0;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.event-container {
    width: 80%;
    margin: 0px auto;
}

.event {
    border-top: 1px solid black; 
    padding: 1px 0;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
}

.event-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.footer-text {
    text-align: center;
    font-size: clamp(0.8rem, 1.5vw, 1rem); 
    margin-top: 200px;
}

.cards-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0 5%; 
    width: 90%; 
    margin: 20px auto; 

    app-member-card {
        flex: 1 0 21%; 
        max-width: 400px; 
    }
}

@media (max-width: 1000px) {
    .cards-container app-member-card {
        flex: 1 0 45%; 
    }
}

@media (max-width: 768px) {
    .cards-container app-member-card {
        flex: 1 0 100%; 
    }
}