.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    z-index: 10;
    background-color: transparent;
    color: #000;
  
    .logo {
      img {
        height: 100px;
        background-color: #000;
        border-radius: 50%;
      }
    }
  
    .nav {
      flex: 1;
      margin: 0 5%;
  
      .nav-columns {
        display: flex;
        justify-content: space-between;
  
        .nav-column {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 0 15px;
  
          a {
            margin: 8px 10px;
            text-decoration: none;
            color: inherit; // Наследует цвет от .header
            font-weight: 900;
            font-size: 1.5vw; // Уменьшите размер шрифта
          }
        }
      }
    }
  
    .mobile-menu-icon {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      position: absolute; // Абсолютное позиционирование
      right: 15px; // Отступ от правого края
      top: 15px; // Отступ от верхнего края
  
      span {
        width: 25px;
        height: 3px;
        background: #000;
        margin: 4px 0;
        transition: 0.4s;
      }
    }
  
    .mobile-menu {
      display: none;
  
      &.open {
        display: block;
        position: fixed;
        top: 0;
        right: 0; // Меню прижато к правому краю
        width: 100%; // Полная ширина экрана
        height: 100%;
        background: rgba(255, 255, 255, 0.95);
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        box-sizing: border-box;
  
        .mobile-menu-header {
          display: flex;
          justify-content: flex-end;
          padding: 20px;
  
          .close-icon {
            position: relative;
            width: 24px;
            height: 24px;
            cursor: pointer;
  
            position: absolute; // Абсолютное позиционирование
            right: 15px; // Отступ от правого края
            top: 15px; // Отступ от верхнего края
  
            &::before,
            &::after {
              content: '';
              position: absolute;
              left: 50%;
              top: 50%;
              width: 24px;
              height: 2px;
              background-color: black;
              transform-origin: center;
            }
  
            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
  
            &::after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }
  
        .mobile-nav {
          display: flex;
          flex-direction: column;
          align-items: flex-end; // Элементы прижаты к правому краю
          padding: 0 20px;
  
          a {
            margin: 15px 0;
            text-decoration: none;
            color: #000; // Черный цвет текста
            font-size: 1.2rem; // Уменьшите шрифт для мобильного меню
            font-weight: bold;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .mobile-menu-icon {
        display: flex; // Иконка мобильного меню видима
      }
  
      .nav {
        display: none; // Скрыть навигацию для ПК
      }
  
      .logo img {
        height: 90px; // Уменьшение высоты логотипа для мобильной версии
      }
    }
  
    // Стили для главной страницы
    &.home {
      color: #fff;
  
      .nav a {
        color: #fff;
      }
  
      .mobile-menu-icon span {
        background: #fff; 
      }
  
      .mobile-menu {
        .mobile-menu-header {
          .close-icon {
            &::before,
            &::after {
              background-color: #fff; 
            }
          }
        }
  
        .mobile-nav a {
          color: #fff; 
        }
      }
    }
  }