.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    position: relative; // Изменено на relative для правильной работы с абсолютными дочерними элементами
    align-items: center;
    justify-content: flex-end; // Прижимаем все элементы к правому краю
    padding: 15px 10%; // Отступы сверху и снизу, 10% с правого края
    z-index: 10;
    background-color: transparent; // Или другой фон, если требуется
  
    color: #000; // Стандартный цвет текста
    
    .logo {
      margin-right: auto; // Перемещаем логотип влево
      img {
        height: 100px;
        background-color: #000;
        border-radius: 50%;
      }
    }
  
    .nav {
      display: flex;
      flex: 1;
      justify-content: flex-end; // Также прижимаем навигацию к правому краю
      margin-right: 0; // Убираем дополнительные отступы справа
      
      .nav-columns {
        display: flex;
        justify-content: space-between;
        
        .nav-column {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 0 15px;
  
          a {
            margin: 8px 10px;
            text-decoration: none;
            color: inherit; // Наследует цвет от .header
            font-weight: 900;
            font-size: 1.7vw;
          }
        }
      }
    }
  
    .mobile-menu-icon {
      display: none; // По умолчанию скрыто, видимо только на мобильных
      flex-direction: column;
      cursor: pointer;
      position: absolute; // Абсолютное позиционирование
      right: 10%; // Отступ от правого края
      top: 15px; // Отступ сверху
  
      span {
        width: 25px;
        height: 3px;
        background: #000; // Стандартный цвет иконки
        margin: 4px 0;
        transition: 0.4s;
      }
    }
  
    .mobile-menu {
      display: none;
  
      &.open {
        display: flex; // Используем flex для правильного расположения элементов
        position: fixed;
        top: 0;
        right: 0;
        width: 100%; // Полная ширина
        height: 100%;
        background: rgba(255, 255, 255, 0.95);
        z-index: 1000;
  
        .mobile-menu-header {
          display: flex;
          justify-content: flex-end;
          padding: 20px;
  
          .close-icon {
            position: relative;
            width: 24px;
            height: 24px;
            cursor: pointer;
  
            &::before,
            &::after {
              content: '';
              position: absolute;
              left: 50%;
              top: 50%;
              width: 24px;
              height: 2px;
              background-color: black;
              transform-origin: center;
            }
  
            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
  
            &::after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }
  
        .mobile-nav {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0 20px;
  
          a {
            margin: 15px 0;
            text-decoration: none;
            color: #000; // Цвет текста
            font-size: 1rem;
            font-weight: bold;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .mobile-menu-icon {
        display: flex; // Показываем иконку мобильного меню
      }

      .nav {
        display: none; // Скрываем навигацию для ПК
      }
  
      .logo img {
        height: 90px; // Уменьшение высоты логотипа для мобильной версии
      }
    }
  
    // Стили для главной страницы
    &.home {
      color: #fff; // Белый цвет текста на главной странице
  
      .nav a {
        color: #fff; // Белый цвет навигационных ссылок
      }
  
      .mobile-menu-icon span {
        background: #fff; // Белый цвет иконки мобильного меню
      }

      .mobile-menu {
        .mobile-menu-header {
          .close-icon {
            &::before,
            &::after {
              background-color: #fff; // Белый цвет крестика закрытия
            }
          }
        }
  
        .mobile-nav a {
          color: #fff; // Цвет ссылок внутри мобильного меню
        }
      }
    }
}

// Чтобы избежать горизонтальной прокрутки
* {
    box-sizing: border-box; // Убедитесь, что все элементы включены в общую ширину
}