<!-- Второй блок с названием параметра -->
<div class="parameter-block">
  <h3 class="parameter-title">(Книги)</h3>
</div>

<div class="text-block">
  <p>
    Добро пожаловать в наш раздел, посвященный книгам! Здесь вы найдете
    тщательно отобранные произведения, которые стали основой наших обсуждений и
    вдохновением для каждого члена нашего книжного клуба. Мы стремимся делиться
    знаниями и эмоциями, которые книги могут подарить. На этой странице вы
    найдете карточки с любимыми книгами наших участников, включая краткие
    аннотации и мнения о каждой из них. Присоединяйтесь к нам в чтении и
    открывайте новые горизонты вместе!
  </p>
</div>

<div class="cards-container">
  <!-- Пример использования компонента MemberCard -->
  <app-member-card
    *ngFor="let member of members"
    [year]="member.year"
    [name]="member.name"
    [photoUrl]="member.photoUrl"
  >
  </app-member-card>
</div>

<p class="footer-text">
  © 2011-2024 THE ORATOR CLUB | ООО «КЛУБ ОРАТОРОВ», ИНН 7725843515 / KLUB
  ORATOROV, OOO TIN 7725843515
</p>
