<div class="full-screen">
  <div class="text-container">
    <div class="line line1">клуб,</div>
    <div class="line line2">как школа</div>
    <div class="line line3">и семья</div>
  </div>
</div>
<div class="title-container">
  <h1 class="club-title">(о клубе)</h1>
</div>
<div class="info-container">
  <div class="text-block block1">
    Orator Club был создан в мае 2011 года как школа, где обучают красивой и
    правильной речи
  </div>
  <div class="text-block block2">
    Слово «клуб» всегда значилось в названии проекта, и неслучайно: это именно
    клуб — по интересам, не для всех. Как и положено правильному клубу, сюда не
    так-то просто попасть: мы проводим индивидуальные собеседования с каждым
    потенциальным участником клуба. Это нужно, чтобы создать для вас самые
    комфортные условия обучения.
    <br /><br />
    Во время собеседования мы узнаем вас поближе и на основе ваших запросов,
    ожиданий, темперамента и навыков постараемся понять, с какого именно курса
    вам стоит начать занятия.
  </div>
</div>
<div class="advice-container">
  Скажем, если вам предстоит череда светских мероприятий, на которых вы можете
  встретить потенциальных партнеров по бизнесу и потому вам важно уметь себя
  преподнести, то мы посоветуем вам курс «Правила поведения на деловых и
  светских мероприятиях» из модуля «Этикет». А если вам нужно подготовиться к
  выступлению перед большой аудиторией и вы не знаете, как справиться со страхом
  перед публикой — тогда мы предложим начать с «Ораторского искусства».
</div>
<div class="team-container">
  <div class="team-column">
    <div class="team-block block3">
      Orator.Club — это тренеры, участники и амбассадоры клуба, а также команда
      клуба, организаторы.
    </div>
    <div class="team-block block4">
      Без ложной скромности скажем, мы умны, красноречивы, креативны и
      амбициозны. У нас серьезные запросы, но взамен мы гарантируем своим
      клиентам высококачественное обучение, индивидуальный подход и
      конфиденциальность.
    </div>
  </div>
  <img src="assets/images/cover.jpg" alt="Orator Club" class="team-image" />
</div>
<div class="image-container">
  <img src="assets/images/cover.jpg" alt="Cover Image" class="cover-image" />
</div>
<div class="bio-container">
  <img src="assets/images/boss.jpg" alt="Ольга Захарова" class="bio-image" />
  <div class="bio-text">
    <h2>Ольга Захарова</h2>
    <p>
      EX-директор Парка Горького с 2011 по 2015 годы. Директор центра инициатив
      по туризму, экологии и климату в Агентстве стратегических инициатив. В
      настоящий момент занимается развитием туризма в регионах РФ.
      <br /><br />
      Ольга Захарова на всех своих должностях задавала генеральную линию
      изменений, преобразований, трансформаций, переходов, актуальную в
      конкретной отрасли, будь то медиа-бизнес или общественные пространства.
    </p>
  </div>
</div>
<div class="title-container">
  <h1 class="club-title">(совет клуба)</h1>
</div>
<app-ambassador-slider></app-ambassador-slider>
<div class="footer">
  © 2011-2024 THE ORATOR CLUB | ООО «КЛУБ ОРАТОРОВ», ИНН 7725843515 / KLUB
  ORATOROV, OOO TIN 7725843515
</div>
