<app-header></app-header>
<div class="full-screen">
  <div class="text-container">
    <div class="line line1">клуб,</div>
    <div class="line line2">как школа</div>
    <div class="line line3">и семья</div>
  </div>
</div>
<div class="title-container">
  <h1 class="club-title">(о клубе)</h1>
</div>
<div class="info-container">
  <div class="text-block block1">
    Императив был основан в 2023 году как пространство для обмена знаниями и
    опытом среди любителей литературы и личностного роста.
  </div>
  <div class="text-block block2">
    Наша цель — создать сообщество, где участники могут обсуждать не только
    бизнес-литературу, но и книги, которые способствуют личностному развитию,
    искусству общения и культурному обмену. Мы проводим индивидуальные
    собеседования с каждым новым членом клуба, чтобы лучше понять их потребности
    и ожидания.
    <br /><br />
    Каждый из участников имеет возможность выбрать курс на основе своих
    интересов, будь то изучение специфических жанров или развитие навыков
    публичных выступлений.
  </div>
</div>
<div class="advice-container">
  Мы верим, что, если вы хотите улучшить навыки общения для сетевых мероприятий
  или деловых встреч, вам подойдут специальные курсы по этикету. А для тех, кто
  хочет подготовиться к выступлениям перед аудиторией, мы рекомендуем начать с
  курса "Ораторское мастерство".
</div>
<div class="team-container">
  <div class="team-column">
    <div class="team-block block3">
      Императив — это наши участники, тренеры и амбассадоры клуба, а также
      команда организаторов, которая работает на успех каждого члена.
    </div>
    <div class="team-block block4">
      Мы гордимся тем, что в нашем клубе собрались умные, инициативные и
      амбициозные люди. Мы обещаем индивидуальный подход к каждому, гарантируя
      высококачественное обучение и конфиденциальность.
    </div>
  </div>
  <img src="assets/images/cover.jpg" alt="Императив" class="team-image" />
</div>
<div class="image-container">
  <img src="assets/images/cover.jpg" alt="Cover Image" class="cover-image" />
</div>
<div class="bio-container">
  <img src="assets/images/boss.jpg" alt="Касаткин Михаил" class="bio-image" />
  <div class="bio-text">
    <h2>Касаткин Михаил</h2>
    <p>
      Опытный бизнесмен и организатор, который умеет вдохновлять и мотивировать
      участников клуба. Михаил активно делится своим опытом в области бизнеса и
      личностного роста, участвуя в наших мероприятиях и курсах.
      <br /><br />
      Его подход сочетает в себе элементы делового общения и творческого
      мышления, что делает каждую встречу клуба уникальным и вдохновляющим
      событием.
    </p>
  </div>
</div>
<div class="title-container">
  <h1 class="club-title">(совет клуба)</h1>
</div>
<app-ambassador-slider></app-ambassador-slider>
<div class="footer">
  © 2023-2024 Книжный клуб Императив | Все права защищены
</div>
