<app-header></app-header>
<div class="hall-of-fame-container">
  <!-- Первый блок с изображением -->
  <div class="image-block">
    <img src="assets/images/hall.jpg" alt="Hall of Fame" class="hall-image" />
    <h2 class="overlay-text">(зал славы)</h2>
  </div>

  <!-- Второй блок с названием параметра -->
  <div class="parameter-block">
    <h3 class="parameter-title">(название параметра)</h3>
  </div>
  <div class="cards-container">
    <!-- Пример использования компонента MemberCard -->
    <app-member-card
      *ngFor="let member of members"
      [year]="member.year"
      [name]="member.name"
      [photoUrl]="member.photoUrl"
    >
    </app-member-card>
  </div>
</div>

<p class="footer-text">
  © 2011-2024 THE ORATOR CLUB | ООО «КЛУБ ОРАТОРОВ», ИНН 7725843515 / KLUB
  ORATOROV, OOO TIN 7725843515
</p>
