<app-header></app-header>
<div class="parameter-block">
  <h3 class="parameter-title">(Контакты)</h3>
</div>

<div class="text-block">
  <p>
    Здесь вы найдете контактные данные для связи с нашим книжным клубом. Пишите
    нам с вопросами или предложениями — мы будем рады помочь!
  </p>
</div>

<div class="social-links-block">
  <h2 class="section-title">Главный ведущий клуба - Касаткин Михаил</h2>

  <div class="links-container">
    <img src="assets/logo/M.jpg" alt="Logo" class="left-image" />

    <div class="link-item">
      <span class="link-text">Ссылка на телеграм:</span>
      <button class="link-button">
        <img src="assets/logo/tg.png" alt="Telegram" class="link-icon" />
        <span>Telegram</span>
      </button>
    </div>

    <div class="link-item">
      <span class="link-text">Ссылка на инстаграм:</span>
      <button class="link-button">
        <img src="assets/logo/insta.png" alt="Instagram" class="link-icon" />
        <span>Instagram</span>
      </button>
    </div>
  </div>
</div>

<div class="social-links-block">
  <h2 class="section-title">Распорядитель клуба - Крутов Артемий</h2>

  <div class="links-container">
    <img src="assets/logo/A.jpg" alt="Logo" class="left-image" />

    <div class="link-item">
      <span class="link-text">Ссылка на телеграм:</span>
      <button class="link-button">
        <img src="assets/logo/tg.png" alt="Telegram" class="link-icon" />
        <span>Telegram</span>
      </button>
    </div>

    <div class="link-item">
      <span class="link-text">Ссылка на инстаграм:</span>
      <button class="link-button">
        <img src="assets/logo/insta.png" alt="Instagram" class="link-icon" />
        <span>Instagram</span>
      </button>
    </div>
  </div>
</div>

<p class="footer-text">
  © 2011-2024 THE ORATOR CLUB | ООО «КЛУБ ОРАТОРОВ», ИНН 7725843515 / KLUB
  ORATOROV, OOO TIN 7725843515
</p>
