<app-header></app-header>
<div class="header">
  <h1>(Амбассадоры)</h1>
</div>

<div class="cover">
  <img src="assets/images/cover.jpg" alt="Cover" />
</div>

<div class="text-fields">
  <div class="text-field1">
    <p>
      Амбассадоры клуба "Императив" — это успешные и влиятельные участники,
      которые представляют сообщество.
    </p>
  </div>
  <div class="text-field2">
    <p>
      Наши амбассадоры — это те, кто прошел программы клуба и стали воплощением
      его ценностей. Никто лучше самих участников не расскажет о том, как
      сообщество "Императив" может воздействовать на личностное развитие и
      бизнес-успех.
    </p>
  </div>
</div>

<div class="ambassador-list">
  <app-ambassador-card
    *ngFor="let ambassador of ambassadors"
    [name]="ambassador.name"
    [ambassadorYear]="ambassador.ambassadorYear"
    [memberYear]="ambassador.memberYear"
    [photo]="ambassador.photo"
  >
  </app-ambassador-card>
</div>

<p class="footer-text">
  © 2023-2024 Книжный клуб "Императив" | Все права защищены
</p>
