.header {
    text-align: center;
    margin: 0 15%;
    margin-top: 200px;
    font-size: clamp(1rem, 4vw, 2rem);
  }
  
  .cover {
    text-align: center;
    margin: 0 10%;
    margin-top: 100px;
    width: 80%;
    img {
      
      width: 100%;
    }
  }
  
  .text-fields {
    display: flex;
    justify-content: space-between;
    margin: 100px 10%;
  
    .text-field1 {
        flex: 1;
        margin-right: 5;
        font-size: clamp(2rem, 5vw, 3rem); /* Размер шрифта для 1 текстового поля */
      }
      
      .text-field2 {
        flex: 1;
        margin-left: 5;
        font-size: clamp(1.5rem, 4vw, 2rem); /* Размер шрифта для 2 текстового поля */
      }
  
    @media (max-width: 768px) {
      flex-direction: column;
  
      .text-field {
        margin: 0;
      }
    }
  }
  
  .ambassador-list {
    display: flex; /* Используем Flexbox */
    flex-wrap: wrap; /* Позволяем элементам переходить на новую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
  }
  .footer-text {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 200px;
  }