.parameter-block {
    margin-top: 150px;

    .parameter-title {
      color: black; // Черный цвет текста
      font-size: clamp(2rem, 5vw, 4rem); 
      font-weight: bold; // Жирный шрифт
      text-align: center; // Центрирование текста
    }
  }
.cards-container {
    display: flex; /* Используем Flexbox */
    flex-wrap: wrap; /* Позволяем элементам переходить на новую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
  }

.footer-text {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 200px;
  }

  .text-block {
    width: 80%; // Ширина блока
    margin: 0 auto; // Центрирование по горизонтали
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: clamp(1.5rem, 4vw, 2rem); 
    
    // Отступы от краев экрана
    @media (max-width: 768px) {
      width: 80%; // Увеличиваем ширину для мобильных устройств
      margin: 0 auto;
    }
  }