<!-- Второй блок с названием параметра -->
<app-header></app-header>
<div class="parameter-block">
  <h3 class="parameter-title">(Встречи клуба)</h3>
</div>
<div class="text-block">
  <p>
    Добро пожаловать в раздел, посвященный встречам нашего книжного клуба! Мы
    организуем регулярные собрания, где участники могут поделиться своими
    мыслями о прочитанных книгах, обсудить интересные темы и познакомиться с
    новыми людьми, разделяющими любовь к чтению. Каждая встреча — это
    возможность глубже понять литературные произведения, получить рекомендации и
    поднять актуальные темы. На этой странице представлены карточки предстоящих
    встреч, где вы можете найти информацию о времени, месте проведения и
    обсуждаемых книгах. Присоединяйтесь к нам, чтобы стать частью увлекательного
    мира литературы!
  </p>
</div>
<div class="cards-container">
  <!-- Пример использования компонента MemberCard -->
  <app-member-card
    *ngFor="let member of members"
    [year]="member.year"
    [name]="member.name"
    [photoUrl]="member.photoUrl"
  >
  </app-member-card>
</div>

<p class="footer-text">
  © 2011-2024 THE ORATOR CLUB | ООО «КЛУБ ОРАТОРОВ», ИНН 7725843515 / KLUB
  ORATOROV, OOO TIN 7725843515
</p>
