/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'BusinessClubFont';
    src: url('assets/fonts/Lora-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'BusinessClubFont', sans-serif;
}